// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    background: white;
}

.btn-main {
    background: white;
    border-radius: 0;
    color: #4C4CFF;
    border: 2px solid #4C4CFF;
}
    .btn-main:hover{
        border: 2px solid #4C4CFF;
        background: white;
        color: #4C4CFF;
    }

.main-nav {
    border-bottom: 5px solid #4C4CFF;
    font-size: 17px;
    text-transform: uppercase;
}

.fa-trash-alt {
    color: white;
    background: red;
    height: 50px;
    width: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    padding: 15px;
    right: 0;
    top: 10px;
    z-index: 1000;
}

.fa-pencil-alt{
    color: white;
    background: lightseagreen;
    height: 50px;
    width: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    padding: 15px;
    right: 55px;
    top: 10px;
    z-index: 1000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


































.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
    margin-bottom: 60px;
}
.section-title p {
    color: #777;
    font-size: 16px;
}
.section-title h4 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #e3342f;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}
.section-title h4:after {
    position: absolute;
    background-color: #e3342f;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

.single-team img {
    width: 100%;
}
.single-team {
    position: relative;
}
.team-hover {
    background-color: #222;
    color: #fff;
    position: absolute;
    bottom: -107px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    -webkit-transition: .4s;
    transition:.4s
}
.team-hover h4 {
    font-size: 20px;
    text-transform: capitalize;
}
.team-hover h4 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}
.team-hover a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
}
.single-team:hover .team-hover {
    bottom: 0;
}
.single-team {
    overflow: hidden;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.pb-100 {
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
a {
    text-decoration: none;
    color: #333;
    -webkit-transition: .4s;
    transition: .4s;
}
.section-title {
    position: relative;
}
.section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}
.section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}
.section-title h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
.section-title h4::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #FF7200;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}
.blog-img {
    position: relative;
}
.blog-img img {
    width: 100%;
}
.post-category a {
    display: inline-block;
    background-color: #FF7200;
    color: #fff;
    font-size: 15px;
    padding: 5px 20px;
}
.single-blog:hover img {
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
}
.post-category {
    position: absolute;
    left: 0;
    bottom: 0;
}
.blog-content {
    padding: 30px 20px;
}
.single-blog {
    border: 1px solid #eee;
}
.blog-title h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
.meta ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.meta {
    margin-bottom: 20px;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.blog-content a.box_btn {
    display: inline-block;
    background-color: #FF7200;
    padding: 5px 15px;
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}
a.box_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #CC5B00;
    left: -100%;
    top: 0;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
}
a.box_btn {
    overflow: hidden;
    z-index: 2;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
    text-decoration:none;
}
a.box_btn:hover::before {
    left: 0;
    z-index: -1;
}









